body {
    font-family: sans-serif;
    color: cornflowerblue;
    background-color: floralwhite;
}

p {
    color: coral;
}

a {
      background-color: mediumseagreen;
      border: 2px solid #04AA6D;
      font-weight: bold;
      color: white;
      padding: 10px 10px 10px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
}