{% extends "../base.html" %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}
    <h1>Welcome to the Meeting Planner!</h1>
    <p>
        This is a demo application
    </p>

    <h2>Meetings</h2>
    <ul>
        {% for meeting in meetings %}
        <li>
            <a href="{% url 'detail' meeting.id %}">
                {{ meeting.title }}
            </a>
        </li>
        {% endfor %}
    </ul>

    <a href="{% url 'rooms' %}">Rooms List</a>
    <br>
    <a href="{% url 'new' %}">Create a New Meeting</a>

    <br> <br>

    <img src="{% static 'website/pony.jpeg'%}" width="500px" alt="Backend Pony">
{% endblock %}